<nav class="bg-color">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a (click)="back()" class="flex items-center">
      <span
        class="self-center text-2xl font-medium whitespace-nowrap text-white"
      >
        <i class="fa-solid fa-arrow-left text-2xl text-white"></i>
        Search Results</span
      >
    </a>
  </div>
</nav>
<div class="flex flex-wrap justify-center gap-1" *ngIf="allMeal">
  <div
    class="max-w-sm rounded-lg overflow-hidden shadow-lg bg-white m-3"
    *ngFor="let meal of allMeal"
    (click)="goToRecipe(meal?.idMeal)"
  >
    <img
      class="w-full"
      [src]="meal?.strMealThumb"
      alt="Sunset in the mountains"
    />
    <div class="px-6 py-4">
      <div class="font-bold text-lg text-center mb-2">{{ meal?.strMeal }}</div>
    </div>
  </div>
</div>
<div *ngIf="!allMeal">
  <span class="text-black text-2xl text-center"> No Reasult Found</span>
</div>
